<!doctype html>
<html lang="en">
    <head>
        <!-- jQuery -->
        <script type="text/javascript" src="/lib/jquery-3.4.1.slim.min.js"></script>

        <!-- BS4 & Requirements (Popper) -->
        <script type="text/javascript" src="/lib/popper-1.16.min.js"></script>
        <script type="text/javascript" src="/lib/bootstrap-4.4.1.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/lib/bootstrap-4.4.1.min.css">

        <!-- Custom CSS -->
        <link type="text/css" rel="stylesheet" href="/css/campground.css">

        <!-- Custom JS -->
        <script type="text/javascript" src="/js/campground.js"></script>

        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>YelpCamp | Campground</title>

    </head>

    <body>
        <h1>Campground not found!</h1>
    </body>

</html>